* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --teal: #39a6b2;
    --white: #fff;
    --blue: #024e76;

}

body {
    color: var(--teal);
    font-family:Arial, Helvetica, sans-serif;
}

/*header style*/
header {
    z-index: 9999;
    padding: 12px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-position: 80%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--blue);
}

header h1 {
    font-weight: bold;
    font-size: 37px;
    color: var(--white);
    margin: 2px;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
}

header nav ul li a {
    padding: 10px 17px;
    font-weight: lighter;
    font-size: 1.35vw;
    color: var(--white);
    margin: 12px 2px;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%);
    text-decoration: none;
}

header a:hover {
    background-color: var(--teal);
}

/*header styling end*/

/*hero styling*/
.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-attachment: fixed;
    background-position: 100%;
    align-items: baseline;

}

.hero h2 {
    color: var(--white);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);

}

.avatar{
    border-radius: 50%;
    max-height: 400px;
    opacity: 0.75;
}

/*hero styling end*/

/*content styling*/

.about-me {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
 
.about-title {
    font-size: 56px;
    flex: 0.5;
    border-right: 2px solid var(--teal);
    text-align: right;
    margin: 30px 30px 30px 0;
}

.about-me p {
    flex: 2;
    font-size: 16px;
    text-align: left;
    margin: 50px;
}

.work {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;  
}

.work-title {
    font-size: 56px;
    flex: 0.5;
    border-right: 2px solid var(--teal);
    text-align: right;
    margin: 30px 30px 30px 0;
}

.image-container {
    flex:2;
    margin:0px 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 30%;
    padding: 15px;
    position: relative;
}

.column img {
  max-height: 100%;
}

.column img:hover {
  opacity: 0.5;
}

.run-buddy {
    position: relative;
}

.run-buddy img:hover {
  opacity: 0.5;
}

.text-title {
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    opacity: 0.5;
}

.column-title {
  position: absolute;
    bottom: 20px;
    left: 0;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    opacity: 0.5;

}

/*content styling end*/

/*footer/contect me styling */

.contact-me {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.contact-title {
    font-size: 56px;
    flex: 0.5;
    border-right: 2px solid var(--teal);
    text-align: right;
    margin: 30px 30px 30px 0;
}

.contact-methods {
    flex: 2;
    margin: 70px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact {
    font-size: 24px;
    margin: 20px;
    border: 2px solid var(--blue);
}

/* footer/content me styling end */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 17px;
    }
  
    .about-title, .work-title, .contact-title {
      width: 80%;
    }
    
    .image-container {
      flex: 0 70%;
    }
    
    }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 17px;
    }
  
    .about-title, .work-title, .contact-title {
      width: 60%;
    }
    
    .image-container {
      flex: 0 50%;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 17px;
    }
  
    .about-title, .work-title, .contact-title {
      width: 50%;
    }
    
    .image-container {
      flex: 0 40%;
    }

    .contact-me {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }


  }