* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --teal: #39a6b2;
    --white: #fff;
    --blue: #024e76;

}

body {
    color: var(--teal);
    font-family:Arial, Helvetica, sans-serif;
}

/*header style*/
header {
    padding: 12px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-position: 80%; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--blue);
}

header h1 {
    font-weight: bold;
    font-size: 37px;
    color: var(--white);
    margin: 2px;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
}
  header nav ul li a {
    padding: 10px 17px;
    font-weight: lighter;
    font-size: 1.35vw;
    color: var(--white);
    margin: 12px 2px;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%);
    text-decoration: none;
}

/*header styling end*/

/*hero styling*/
.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-attachment: fixed;
    background-position: 100%;
    align-items: baseline;

}

.hero h2 {
    color: var(--white);
    display:flex;
    align-items: stretch;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
    /* text-align: left; */
}

.avatar{
    border-radius: 50%;
    max-height: 400px;
    opacity: 0.75;
}

/*hero styling end*/

/*content styling*/
.about-me {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
 
.section-title {
    font-size: 56px;
    flex: 0.5;
    border-right: 2px solid var(--teal);
    text-align: right;
    margin: 30px 30px 30px 0;
}

.about-me p {
    flex: 2;
    font-size: 16px;
    text-align: left;
    /* margin: 30px 50px 30px 30px; */
    margin: 50px;
}

