* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --teal: #39a6b2;
    --white: #fff;
    --blue: #024e76;

}

body {
    color: var(--teal);
    font-family:Arial, Helvetica, sans-serif;
}

/*header style*/
header {
    z-index: 9999;
    padding: 12px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-position: 80%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--blue);
}

header h1 {
    font-weight: bold;
    font-size: 37px;
    color: var(--white);
    margin: 2px;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
}

header nav ul li a {
    padding: 10px 17px;
    font-weight: lighter;
    font-size: 1.35vw;
    color: var(--white);
    margin: 12px 2px;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%);
    text-decoration: none;
}

header a:hover {
    background-color: var(--teal);
}

/*header styling end*/

/*hero styling*/
.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-attachment: fixed;
    background-position: 100%;
    align-items: baseline;
}

.hero h2 {
    color: var(--white);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);

}

.avatar{
    border-radius: 50%;
    max-height: 400px;
    opacity: 0.75;
}

/*hero styling end*/

/*content styling*/

.about-me {
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px;
}
 
.about-title {
    flex-basis: 15%;
    border-right: 2px solid var(--teal);
   
}

.about-title h2 {
  font-size: 56px;
  text-align: right;
}

.bio {
    flex-basis: 80%;
    font-size: 16px;
}

.work {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%; 
    margin: 30px; 
}

.work-title-container {
  border-right: 2px solid var(--teal);
  flex-basis: 15%;
}

.work-title-container h2 {
    font-size: 56px;
    text-align: right;
}

.image-container {
    flex-basis:80%;
    width: 50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.column {
    flex: 30%;
    padding: 5px;
    position: relative;
    margin: 10px;
}

.column img {
  max-height: 100%;
  border: 2px solid black;
  width: 100%;
  
}

.column img:hover {
  opacity: 0.5;
}

.run-buddy {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
}

.run-buddy img {
  border: 2px solid black;
}

.run-buddy img:hover {
  opacity: 0.5;
}

.text-title {
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    opacity: 0.5;
}

.column-title {
    position: absolute;
    bottom: 20px;
    left: 7px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    opacity: 0.5;
    margin: auto;

}

/*content styling end*/

/*footer/contect me styling */

.contact-me {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.contact-title {
    font-size: 49px;
    flex-basis: 15%;
    border-right: 2px solid var(--teal);
    text-align: right;

}

.contact-methods {
    flex: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact {
    font-size: 24px;
    border-bottom: 2px solid var(--blue);

}

/* contact me styling end */

/* Footer styling */
.footer-title {
  font-size: 24px;
  direction: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
}

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;

    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;  
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    .about-title, .work-title {
      width: 60%;
    }

    .about-title h2 {
      font-size: 42px;
    }

    .work-title-container h2 {
      font-size: 42px;
    }
    
    .image-container {
      flex: 0 80%;
      display:flex;
      align-items: stretch;
    }

    .contact-title {
      width: 50%;

    }

    .contact-title h2 {
      font-size: 38px;
      margin-left: 17px;
    }

    .contact-methods {
      width: 40%;
      align-items: center;
    }

    .contact {
      font-size: 12px;
    }

    .footer-title h2 {
      font-size: 24px;
    }

    .column-title {
      width: 80%;
      font-size: 15px;
    }
    
    .text-title {
      width: 40%;
      font-size: 20px;
    }
    
    }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header {
      padding-bottom: 0;
      width: 100%;
      background-size: cover;
      margin:  0;
      box-sizing: border-box;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;  
    }
  
    header nav ul li a {
      font-size: 17px;
    }
  
    .about-title, .work-title, .contact-title {
      flex: 0 60%;
    }

    .about-title h2 {
      font-size: 36px;
    }

    .work-title-container h2 {
      font-size: 36px;
    }
    
    .image-container {
      flex: 0 80%;
      display:flex;
      align-items: stretch;
    }

    .contact-title h2 {
      font-size: 36px;
      margin-left: 17px;
    }

    .contact-methods {
      flex:0 60%;
      align-items: center;
    }

    .contact {
      font-size: 12px;
    }

    .footer-title h2 {
      font-size: 20px;
    }

    .column-title {
      width: 80%;
      font-size: 15px;
    }
    
    .text-title {
      width: 40%;
      font-size: 20px;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header {
      padding-bottom: 0;
      width: 100%;
      background-size: cover;
      margin:  0;
      box-sizing: border-box;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;  
    }
  
    header nav ul li a {
      font-size: 15px;
    }
  
    .about-title, .work-title, .contact-title {
      flex:0 45%;
    }

    .about-title h2 {
      font-size: 32px;
      margin: 0 auto;
    } 

    .bio {
      font-size: 17px;
    }

    .about-me {
      flex-direction: column;
    }

    .work-title-container h2 {
      font-size: 36px;
    }
    
    .image-container {
      flex: 0 80%;
      display:flex;
      align-items: stretch;
    }

    .contact-me{
      display: flex;
      justify-content: space-between;
    }

    .contact-title h2 {
      font-size: 24px;
    }

    .contact-methods {
      flex:0 50%;
      justify-content: flex-start;
    }

    .contact {
      font-size: 8px;
    }

    .footer-title h2 {
      font-size: 20px;
    }

    .column-title {
      width: 60%;
      font-size: 5px;
      margin: auto;
      text-align: left;
      padding: 0;
    }
    
    .text-title {
      width: 35%;
      font-size: 10px;
      margin: auto;
    }
  }
